:root {
  --font-color: #f3f4f6;
  --primary-color: #4c1d95;
  --sec-color: #6b21a8;
  --bg-color: #2e1065;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
header {
  width: 100%;
  margin: 0 auto;
  display: flex;
  height: 70px;
  align-items: center;
  gap: 8px;
  padding: 0 5%;
  background-color: var(--primary-color);
}
header .account {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-left: auto;
}
header a {
  padding: 12px;
  font-weight: bolder;
  color: var(--font-color);
}
header a.user-profile {
  padding: 0 12px;
  display: flex;
  align-items: center;
  gap: 8px;
}
header a.user-profile img {
  border-radius: 50%;
  height: 40px;
}
header a.user-profile p {
  margin: 12px 0;
  display: inline-block;
}
header .account .cart {
  padding: 0;
  height: 40px;
  width: 40px;
  padding: 4px;
}
header .cart svg {
  width: 100%;
  height: 100%;
}
header a:hover {
  background-color: var(--sec-color);
}
main {
  flex: 1;
  padding: 20px 0;
  width: min(100vw - 4rem, 1280px);
  margin: 0 auto;
}
/* Section Games */
.games-container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
  grid-auto-rows: auto;
  place-items: center;
  gap: 2rem;
}
.games-container .game-item {
  width: 100%;
  height: 100%;
}
.games-container .game-img {
  width: 100%;
  overflow: hidden;
}
.games-container .game-img img {
  width: 100%;
  aspect-ratio: 7/9;
  object-fit: cover;
  object-position: top;
  transition: all 250ms;
}
.games-container .game-img img:hover {
  filter: grayscale(0.6);
  scale: 1.05;
}
.games-container .game-data {
  background-color: var(--primary-color);
  padding: 12px;
}
.games-container .game-data h2 {
  font-size: 1.1em;
  font-weight: bolder;
  color: var(--font-color);
  font-weight: bolder;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.games-container .game-data .game-title {
  color: #94a3b8;
}
.games-container .game-data .game-date {
  color: var(--font-color);
}
.games-container .game-data span {
  display: block;
  text-align: right;
}
.games-container .game-data .game-price {
  display: inline-block;
  padding: 8px;
  border-radius: 8px;
  font-weight: bolder;
  color: var(--font-color);
  background-color: var(--sec-color);
}
.games-container .add-game {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-color: var(--primary-color);
  color: #ffffff;
  font-weight: bolder;
  display: grid;
  place-items: center;
  font-size: 30px;
}
/* Game Detail */
.game-header {
  display: grid;
  grid-template-columns: 1fr 70%;
  gap: 24px;
}
.game-header img {
  width: minmax(350px, 30%);
  aspect-ratio: 7/9;
  object-fit: cover;
  object-position: top;
}
.game-details {
  margin: auto 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.game-details .game-title {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 12px;
}
.game-details .game-title h1 {
  font-size: 3rem;
  font-weight: bolder;
  color: #ffffff;
}
.game-details .game-title p {
  padding: 8px;
  border-radius: 8px;
  font-size: 2rem;
  font-weight: bolder;
  color: var(--font-color);
  background-color: var(--sec-color);
}
.game-details span {
  font-weight: bolder;
}
.game-details .game-description {
  font-size: 16px;
  color: var(--font-color);
}
.game-details .game-release,
.game-details .game-units,
.game-details .game-studio,
.game-details .game-footer {
  font-size: 20px;
  color: var(--font-color);
}

.game-details .game-studio {
  text-decoration: underline;
  color: #e2bfff;
}

.game-details .game-category {
  font-size: 20px;
  color: var(--font-color);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}
.game-details .game-category a {
  padding: 6px 10px;
}
.game-details .game-footer {
  display: flex;
  align-items: center;
  margin-top: 24px;
}
.game-details .game-footer > div {
  display: flex;
  align-items: center;
}
.game-details .game-footer p {
  padding: 4px 12px;
  margin: 8px;
  background-color: #22c55e;
}
.game-details .game-footer button {
  margin-left: auto;
  display: inline-block;
  padding: 12px;
  border-radius: 8px;
  font-weight: bolder;
  font-size: 1.5rem;
  color: var(--font-color);
  background-color: var(--sec-color);
}
/* Genders */
.genders-container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  grid-auto-rows: auto;
  place-items: center;
  gap: 1.5rem;
}
.gender-item,
.gender-item a {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 8px;
}
.gender-item a {
  display: flex;
  flex-direction: column;
}
.gender-item .gender-img {
  flex: 1;
  overflow: hidden;
}
.gender-item img {
  height: 100%;
  object-fit: cover;
  transition: all 250ms;
}
.gender-item img:hover {
  filter: grayscale(0.6);
  scale: 1.05;
}
.gender-item h2 {
  padding: 12px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
  background-color: var(--sec-color);
}
.genders-container .add-gender {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-color: var(--primary-color);
  color: #ffffff;
  font-weight: bolder;
  display: grid;
  place-items: center;
  font-size: 30px;
}
/* Gender Item */
.gender-banner {
  position: relative;
  margin-bottom: 32px;
}
.gender-banner img {
  width: 100%;
  aspect-ratio: 10/3;
  filter: brightness(0.4);
}
.gender-banner h1 {
  position: absolute;
  font-size: 5rem;
  font-weight: bolder;
  color: var(--font-color);
  bottom: 24px;
  left: 32px;
}
/* Developers */
.developers-container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
  grid-auto-rows: auto;
  place-items: center;
  gap: 1.5rem;
}
.developers-container .developer-item,
.developers-container .developer-item a {
  width: 100%;
  height: 100%;
}
.developers-container .developer-item a {
  display: flex;
  flex-direction: column;
}
.developers-container .developer-item .developer-img {
  width: 100%;
  padding: 20%;
  margin: 0 auto;
  flex: 1;
  background-color: var(--sec-color);
}
.developers-container .developer-item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.developers-container .developer-item h2 {
  background-color: var(--primary-color);
  padding: 12px;
  font-weight: bolder;
  font-size: 1.1rem;
  color: var(--font-color);
}
.developers-container .add-developer {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-color: var(--primary-color);
  color: #ffffff;
  font-weight: bolder;
  display: grid;
  place-items: center;
  font-size: 30px;
}
/* Developer */
.developer-banner {
  position: relative;
  margin-bottom: 32px;
}
.developer-banner > img {
  width: 100%;
  aspect-ratio: 10/4;
  filter: brightness(0.4);
}
.developer-banner .developer-info {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  gap: 20px;
  padding: 40px;
  align-items: center;
}
.developer-banner .developer-info img {
  width: 20%;
  aspect-ratio: 1/1;
  object-fit: contain;
}
.developer-banner .developer-details {
  color: var(--font-color);
  padding: 0 30px;
}
.developer-banner .developer-details h1 {
  font-size: 2rem;
  font-weight: bolder;
}
.developer-banner .developer-details p {
  font-size: 1.2rem;
}
/* Cart */
.cart-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-auto-rows: min-content minmax(300px, auto);
  gap: 24px;
  color: white;
}
.cart-content h3 {
  font-weight: bolder;
  font-size: 18px;
  padding: 12px 8px;
}
.cart-content .cart-header {
  display: flex;
  text-align: center;
  font-weight: bolder;
}
.cart-content .cart-header .cart-item {
  flex: 1;
  padding: 8px;
}
.cart-content .cart-header .cart-price,
.cart-content .cart-header .cart-delete {
  width: 150px;
  padding: 8px;
}
.cart-content .cart-items {
  width: 100%;
  text-align: center;
}
.cart-content .cart-items * {
  align-items: center;
}
.cart-items .cart-item {
  display: flex;
  margin-bottom: 16px;
}
.cart-items .cart-item .item-info {
  flex: 1;
  display: flex;
  text-align: start;
  gap: 24px;
}
.cart-items .cart-item .item-price,
.cart-items .cart-item .item-delete {
  width: 150px;
  font-weight: bolder;
  height: auto;
}

.cart-items .item-info img {
  height: 120px;
  aspect-ratio: 7/9;
}
.cart-items .item-name .game-name {
  font-weight: bolder;
  font-size: 1.1rem;
}
.cart-items .item-name .dev-name {
  font-size: 0.9rem;
  color: #94a3b8;
}
.orden-summary {
  border: 1px solid #ffffff;
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.orden-summary span {
  font-weight: bolder;
}
.orden-summary hr {
  margin: 12px 0;
}
.orden-summary .summary-detail {
  display: flex;
  justify-content: space-between;
}
.orden-summary button {
  margin-top: 12px;
  background-color: var(--sec-color);
  padding: 12px;
  font-weight: bolder;
}
footer {
  width: 100%;
  display: flex;
  background-color: var(--primary-color);
  justify-content: center;
}
footer a {
  padding: 12px;
  font-weight: bolder;
  color: var(--font-color);
}
footer a:hover {
  background-color: var(--sec-color);
}
.container-carrusel{
  width: max-content;
  display: inline-block;
  height: 450px;
}
.carrusel{
  display: inline-block;
  width: 99vw;
  height: 450px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.container-list{
  width: 90vw;
  margin: 5px auto;
}
.box_form{
  position: relative;
  padding: 5px 5px 5px 0;
}

.input_form{
  padding: .5rem 2rem;
  border-radius: 5px;
  border: 0;
  width: 175px;
  outline: solid 2px rgb(32, 10, 73) ;
}

.input_form_tit{
  padding: .5rem 2rem;
  border-radius: 5px;
  border: 0;
  width: 200px;
  outline: solid 2px rgb(32, 10, 73) ;
}

.label_form{
  color: rgb(32, 10, 73);
  transition: .5s;
  position: absolute;
  top: 13px;
  left: 1rem;
  padding: 0 .5rem;
}

.input_form:focus{
  outline: solid 2px white;
}

.input_form_tit:focus{
  outline: solid 2px white;
}

.input_form:focus+.label_form{
  transform: translateY(-1.6rem);
  font-size: 17px;
  background-color: rgb(76 29 149);
  color: white;
}

.input_form_tit:focus+.label_form{
  transform: translateY(-2.2rem);
  font-size: 22px;
  background-color: rgb(76 29 149);
  color: white;
}

.input_form:not(:placeholder-shown)+.label_form{
  transform: translateY(-1.6rem);
  transition: .5s;
  font-size: 17px;
  background-color: rgb(76 29 149);
}

.input_form_tit:not(:placeholder-shown)+.label_form{
  transform: translateY(-2.2rem);
  transition: .5s;
  font-size: 22px;
  background-color: rgb(76 29 149);
}

.multiselect {
  border-color: black ;
}

.video {
  padding: 320px;
}