.box_login{
    position: relative;
    padding: 5px 5px 10px 0;
}

.input_login{
    display: block;
    padding: .5rem 2rem;
    border-radius: 5px;
    border: 0;
    outline: solid 2px rgb(32, 10, 73) ;
}

.label_login{
    color: rgb(32, 10, 73);
    transition: .5s;
    position: absolute;
    top: 13px;
    left: 1rem;
    padding: 0 .5rem;
}

.input_login:focus{
    outline: solid 2px white;
}

.input_login:focus+.label_login{
    transform: translateY(-1.6rem);
    font-size: 17px;
    background-color: rgb(76 29 149);
    color: white;
}

.input_login:not(:placeholder-shown)+.label_login{
    transform: translateY(-1.6rem);
    transition: .5s;
    font-size: 17px;
    background-color: rgb(76 29 149);
}